<section id="info" class="info">
  <h2>Some random info.</h2>
  <div class="container">
    {[1, 2, 3, 4].map(() => (
      <div class="info-item">
        <div class="box"></div>
        <p>this is some subtext under an illustration or image</p>
      </div>
    ))}
  </div>
</section>

<style>
  .info {
    padding: 4rem 0;
    text-align: center;
    scroll-margin-top: 4rem;
  }
  h2 {
    font-size: 36px;
    color: var(--dark-bg);
    font-weight: 900;
    margin-bottom: 3rem;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .box {
    border: 4px solid var(--button-color);
    border-radius: 8px;
    height: 150px;
    margin-bottom: 1rem;
  }
  .info-item p {
    color: var(--dark-bg);
    font-size: 18px;
  }
</style>