<section id="quote" class="quote">
  <div class="container">
    <blockquote>
      This is an inspiring quote, or a testimonial from a customer. Maybe it's just filling up space, or maybe people will actually read it. Who knows? All I know is that it looks nice.
    </blockquote>
    <p class="author">-Thor, God of Thunder</p>
  </div>
</section>

<style>
  .quote {
    background-color: var(--secondary-text);
    padding: 6rem 0;
    scroll-margin-top: 4rem;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: var(--dark-bg);
    margin-bottom: 1rem;
  }
  .author {
    text-align: right;
    font-weight: 900;
    font-size: 24px;
    color: var(--dark-bg);
  }
</style>